# MATLAB 特定忽略文件
*.asv
*.m~
*.mat
*.fig
*.jpg
*.png

# 忽略临时仿真数据与批次结果文件夹
TempResults/
Results_Batch_*/

# 忽略编译产生的缓存（如果你想让别人自己编译，可以加上）
codegen/
*.mexw64
*.mexw32
*.mexa64
*.mexmaci64

# OS 产生的缓存文件
.DS_Store
Thumbs.db